[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/latexsuite"]
	path = bundle/latexsuite
	url = git://git.code.sf.net/p/vim-latex/vim-latex
[submodule "bundle/quickrun"]
	path = bundle/quickrun
	url = https://github.com/thinca/vim-quickrun.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/colorscheme-kalisi"]
	path = bundle/colorscheme-kalisi
	url = https://github.com/freeo/vim-kalisi
